body {
    background-image: url("https://www.clipartmax.com/png/middle/137-1370477_clip-art-movie-medium-size-film-strip-border-png.png");
    background-position: right top;
    background-attachment: fixed;
  }