<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="nav.visible">
  <a class="navbar-brand" routerLink="past-recs">
      <img src="https://www.themoviedb.org/assets/1/v4/logos/293x302-powered-by-square-blue-ee05c47ab249273a6f9f1dcafec63daba386ca30544567629deb1809395d8516.png"
      width="78" height="80">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" routerLink="past-recs">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="new-rec">Get A Recommendation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile">View Profile</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
          </li>
      </ul>
  </div>
</nav>
