<h1>{{title}}</h1>
<div class="container">
    <form #loginForm="ngForm">
        <div class="form-group col-md checkbox">
            <label for="rating">Rating</label>
                <div><label><input type="checkbox-inline" checked name="rating" class="form-control" value=1>G</label></div>
                <div><label><input type="checkbox-inline" checked name="rating" class="form-control" value=2>PG</label></div>
                <div><label><input type="checkbox-inline" checked name="rating" class="form-control" value=3>PG-13</label></div>
                <div><label><input type="checkbox-inline" checked name="rating" class="form-control" value=4>R<label></div>
        </div>
        <div class="form-group col-md">
            <label for="genre">Genre</label>
                <select name="genre" id="genre" class="form-control">
                    <option [value]="genre.name" *ngFor="let genreList of genres">{{ genre.name }}</option>
                </select>
        </div>
    </form>
</div>
