<div id="main-area">
<div class="form-group col-md">
    <h1>{{title}}</h1>
    <h6>Use as many options as you want</h6>
</div>
<div class="container">
    <form #getRecForm="ngForm">
        <div class="form-group col-md">
            <label for="release range">Search year range</label>
            <input type="number" name="release" id="release" min="1900" max="2019" placeholder="1900 -" [(ngModel)]="releaseGreater">
            <input type="number" name="release" id="release" min="1900" max="2019" placeholder="2019" [(ngModel)]="releaseLower">
        </div>
        <div class="form-group col-md">
            <label for="release range">Search specific year</label>
            <input type="number" name="release" id="release" min="1900" max="2019" placeholder="Enter year" [(ngModel)]="releaseYear">
        </div> 
        <div class="form-group col-md">
            <label for="rating">Search by user ratings less than:</label>
            <input type="number" name="rating" id="rating" min="0" max="10" placeholder="0-10" [(ngModel)]="ratingLower">
        </div>
        <div class="form-group col-md">
            <label for="rating">Search by user ratings greater than:</label>
            <input type="number" name="rating" id="rating" min="0" max="10" placeholder="0-10" [(ngModel)]="ratingGreater">
        </div>
        <div class="form-group col-md">
            <label for="actor">Search by an Actor/Actress </label>
            <input type="text" name="actor" id="actor" placeholder="Enter name" [(ngModel)]="selectActor">
        </div>
        <div class="form-group col-md">
            <label for="genre">Search by genre</label>
            <select name="genre" id="genre" class="form-control" [(ngModel)]="selectGenre">
                <option value="" >Choose a genre</option>
                <option [value]="genre.name" *ngFor = "let genre of genres">{{genre.name}}</option>
            </select>
        </div>
        <div class="form-group col-md">
            <button class="btn btn-primary" type="button" value="Submit" (click)="getRec()">Submit</button>
            <button class="btn btn-light" type="reset" value="Reset">Reset</button>
        </div>
    </form>
    <div class="form-group col-md" *ngIf="showRec">
        <h6>Your recommendation is:</h6>
        <h4>{{recTitle}}</h4>
        <img src={{recPosterURL}} alt="Recommended film poster">
        <form #loginForm="ngForm">
            <div class="form-group col-md">
                <button class="btn btn-primary" type="button" value="Like" (click)="submitGoodRec()">Love it!</button>
                <button class="btn btn-dark" type="button" value="Dislike" (click)="submitBadRec()">Hate it!</button>
            </div>
        </form>
    </div>
    <div class="form-group col-md" *ngIf="badQuery">
        <h4>Sorry, something broke</h4>
        <p>That query didn't return any results.  Why not try another?</p>
    </div>
</div>
</div>
